.button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    height: 50px;
    width: 200px;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
    height: 50px;
    width: 200px;
}

#abbreviation, select {
    width: 20%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
}

#header {
	background-color: rgba(85, 85, 85,0.25);
}

body {
	background-color: #eeeeee;
}